@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #239b98;
    --color-secondary-1: #7f2538;
    --color-secondary-2: #c0ffcf;
    --color-secondary-3: #9aeddd;
    --color-gs-white: #ffffff;
    --color-gs-black: #1a1c1c;
    --color-bg-light: #fefefe;
    --color-bg-grey: rgba(0,0,0,0.1);
    --color-text-grey: #252525;
    --color-text-lightgrey: #808080;
    --color-dark-turquoise: #33e2dd;
    --color-light-turquoise: #ccf8f7;
    --color-line-darkgrey: #606060;
    --color-line-grey: #aaaaaa;
    --color-line-verylightgrey: #bbbbbb;
    --color-summary-background: rgba(204,248,247,0.75);
    --color-custom-navy: #1b2656;
  }

  body {
    font-family: 'Inter', system-ui, sans-serif;
  }  

}
